@import './config-css/variable.scss';
@import './config-css/reset.scss';
@import './config-css/rem-calc.scss';
@import './config-css/btn.scss';

html{
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color);
}

main{
  width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;


}
